.mapa{
    width: 100%;
    margin: 2em 0;
}

.imagem-solta{
    width: 40%;
    height: 40%;
    float: right;
    margin: 0 0 20px 20px;
}


.referencia-mapa li{
    list-style-type: inherit;
    color: #111111;
    margin: 2em 0;
    font-size: 0.8em;
    line-height: 1.5;
    height: 100px;
    
}  
    
blockquote{
    background-color: #DEDEDE;
    color: #666666;
    width: 15em;
    max-width: 15em;
    height: 15em;
    overflow: scroll; 
    padding: 0 1em;
    float: right;
    margin-left: 1em;
}

#opcao3 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

.fas{
    font-size: 48px;
    left: -440px;
    float: left;
    margin-right:1rem;
}

.laranja{
    color: orange;
}

.marrom{
    color: #441414;
}

.roxo{
    color: purple;
}

.rosa{
    color: #B81A49;
}

@media only screen and (max-width: 440px) {
    blockquote{
        background-color: #DEDEDE;
        color: #666666;
        width: 7em;
        max-width: 7em;
        height: 12em;
        overflow: scroll; 
        padding: 0 1em;
        float: right;
        margin-left: 1em;
    }
}
