#opcao4 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

.teste{
    width: 100%;
    display: flex;
    align-items: center;
}

.cover img{
    float: left;
    width: 100%;
    padding: 2.5px;
    background: #eee;
    cursor: pointer;
}
.thumbs{
    float: left;
    width: 50%;
    margin-top: 20px;
    padding: 2.5px;
    background: #eee;
}

.thumbs img{
    float: left;
    width: 20%;
    padding: 2.5px;
    background: #eee;
    cursor: pointer;
}

.thumbs img:hover,

.thumb img.active{
    background: black;
}

.imagem-solta{
    width: 60%;
    height: 60%;
    float: left;
    margin: 0  20px 20px 0;
}