#opcao4 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

.teste{
    width: 100%;
    display: flex;
    align-items: center;
}

.cover img{
    float: left;
    width: 100%;
    padding: 2.5px;
    background: #eee;
    cursor: pointer;
}
.thumbs{
    float: left;
    width: 50%;
    margin-top: 20px;
    padding: 2.5px;
    background: #eee;
}

.thumbs img{
    float: left;
    width: 20%;
    padding: 2.5px;
    background: #eee;
    cursor: pointer;
}

.thumbs img:hover,

.thumb img.active{
    background: black;
}

.imagem-solta{
    width: 65%;
    height: 65%;
    float: left;
    margin: 0  20px 10px 0;
}

@media only screen and (max-width: 767px) {
    .imagem-solta{
        width: 80%;
        height: 80%;
        float: none;
        display: block;
        margin: 0 auto;
    }
}