.citacoes-cap3{
    width: 55%;
    margin:40px auto;
    line-height: 1.8;
}

.citacoes-cap3 img{
    margin-bottom: 1rem;
}

.citacoes-cap3 p{
    font-family: "Roboto Slab";
    font-size: 1em;
    text-align: start;
}

.div-cleone{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-aline{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cite-aline{
    margin-bottom: 10px;
}

.cite-cleone{
    margin-bottom: 10px;
}

.aspas{
    color: #B81A49;
    font-size: 1.5em;
}

.cit{
    font-family:"Roboto Slab";
    color: #c3c1c2;
}

#opcao5 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

@media only screen and (max-width: 767px) {
    .citacoes-cap3 p{
        font-size: 0.8em;
    }
    .citacoes-cap3 img{
        width: 70%;
        height: 70%;
    }
    .cit{
        font-size: 0.7em;
    }

}

@media only screen and (min-width: 1020px){
    .div-cleone{
        flex-direction: row;
    }
    .div-cleone img{
        margin-right: 30px;
    }

    .div-aline img{
        margin-left: 30px;
    }

    .div-aline{
        flex-direction: row-reverse;
    }
} 