.citacoes-cap3{
    width: 55%;
    margin:5em auto;
    line-height: 1.3;
}

.citacoes-cap3 p{
    font-family: "Roboto Slab";
    font-size: 1.3em;
    
}

.cleone{
    float:left;
    margin-right: 5em;
    
}

.aline{
    float: right;
    margin-left: 5em;
    clear: right;
}

.cleone-div{
    margin-bottom: 10em;
     position: relative;
}

.cite-aline{
    position: relative;
    width: 60%;
    margin-bottom: 10px;
}

.cite-cleone{
    margin-bottom: 10px;
}

.cite-cleone::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: 6em;
    top: -.2em;
}

.cite-cleone::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right:1.5em;
    bottom: .8em;
}

.cite-aline::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -.7em;
    top: -.2em;
}

.cite-aline::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left:4.7em;
    bottom:-.4em;
}

.cit{
    font-family:"Roboto Slab";
    color: #c3c1c2;
}

#opcao5 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

.podcast{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    background-color: #B81A49;
}

.podcast div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.podcast div p{
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Roboto";
}
