.citacoes-cap3{
    width: 55%;
    margin:5em auto;
    line-height: 1.8;
}

.citacoes-cap3 img{
    margin-bottom: 1rem;
}

.citacoes-cap3 p{
    font-family: "Roboto Slab";
    font-size: 1em;
    text-align: justify;
}

.cleone{
    /* float:left; */
    /* margin-right: 5em; */
    
}

.aline{
    /* float: right; */
    /* clear: right; */
    
}

.div-cleone{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-aline{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cite-aline{
    /* position: relative; */
    /* width: 60%; */
    margin-bottom: 10px;
}

.cite-cleone{
    margin-bottom: 10px;
}

/* .cite-cleone::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: 6em;
    top: -.2em;
}

.cite-cleone::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right:1.5em;
    bottom: .8em;
}

.cite-aline::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -.7em;
    top: -.2em;
}

.cite-aline::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left:4.7em;
    bottom:-.4em;
} */

.aspas{
    color: #B81A49;
    font-size: 1.5em;
}

.cit{
    font-family:"Roboto Slab";
    color: #c3c1c2;
}

#opcao5 li{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

.podcast{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    background-color: #B81A49;
}

.podcast div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.podcast div p{
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Roboto";
}
