@font-face{
    font-family: 'FonteGold';
    src: url('../font/GoldUnderTheMud-Regular.ttf');
}

@font-face{
    font-family: 'RobotoBlack';
    src: url('../font/Roboto-Black.ttf');
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:120%;
}

body{
    animation: fadein 3s;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/* BARRA DE NAVEGAÇÃO */

li{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #111111;
    width: 100%;
    z-index: 9999;
    bottom:0 ;
}

.navegacao-site{
    list-style: none;
}

.navegacao-site li{
    display: inline-block;
    font-size: .7em;
    padding: 20px 20px;
    cursor: pointer;
    border-top: #111111 solid 4px;
    transition: .6s ease;
    margin-left: -5px;
}

.navegacao-site li a{
    transition:all 0.3s ease 0s;
    text-decoration: none;
    color: #fff;
}

.navegacao-site li:hover{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}
/*------------------------*/

/* HEADER */

header{
    background-image: url("../images/bgcapitulo.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.flex-text-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-principal{
    margin-top: 40px;
}

.flex-text-header p{
    margin-top:35px;
    margin-bottom:10px;
    width:38%;
    text-align: center;
    color: white;
    font-family: "Roboto";
}

.flex-text-header p:nth-child(odd){
    font-size: 0.75em;
}

.arrow{
    margin:2em 0;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
/*------------------------*/

/* MAIN */
h1{
    font-size: 4em;
    margin-top:1em;
}

a{
    text-decoration: none;
}

.mapa{
    width: 100%;
    margin: 2em 0;
}

.referencia-mapa{
    list-style-image: url("../images/map-mark.png");

}

.referencia-mapa li{
    list-style-type: inherit;
    color: #111111;
    margin: 2em 0;
    font-size: 0.8em;
    line-height: 1.5;
    height: 100px;
    
}

.resizing{
    font-family: "Roboto";
    font-weight:500;
    font-size: 1.2em;
}


.main{
    width: 45%;
    margin: 0 auto;
    text-align: start;
}

.main p{
    line-height: 1.5;
    margin:2em 0;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: .8em;
}

blockquote{
    background-color: #DEDEDE;
    color: #666666;
    width: 15em;
    max-width: 15em;
    height: 15em;
    overflow: scroll; 
    padding:0 20px;
    float: right;
    margin-left: 1em;
}

.increase-letters::first-letter{
    font-size: 200%;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    color: black;
    margin-right: 2px;;
}

.citacao1{
    font-size: 2em;
    font-family:"Roboto Slab";
    line-height: 1.2;
    position: relative;
}

.citacao1::before{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -29px;
    top: -10px;
}

.citacao1::after{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right: -30px;
    bottom: -30px;
}

.citacoes-cap3{
    width: 55%;
    margin:5em auto;
    line-height: 1.3;
}

.citacoes-cap3 p{
    font-family: "Roboto Slab";
    font-size: 1.3em;
    
}

.cleone{
    float:left;
    margin-right: 5em;
    
}

.aline{
    float: right;
    margin-left: 5em;
    clear: right;
}

.cleone-div{
    margin-bottom: 10em;
     position: relative;
}

.cite-aline{
    position: relative;
    width: 60%;
}

.cite-cleone::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: 6em;
    top: -.2em;
}

.cite-cleone::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right:1.5em;
    bottom: -.4em;
}

.cite-aline::before{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -.7em;
    top: -.2em;
}

.cite-aline::after{
    content:'"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left:4.7em;
    bottom:-.4em;
}


.gold-font{
    font-family: 'FonteGold';
    color: #B81A49;
    text-align: center;
}

.prox-cap{
    font-size: 2em;
    margin:1em 0;
}

.inicio-cap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/bgcapitulo.png");
    background-repeat:no-repeat;
    background-size: 100%;
    color: white;

}

.inicio-cap .gold-font{
    font-size:1.8em;
}

.inicio-cap p{
    width: 27%;
    text-align: center;
    margin: 2em 0;
}

.parag-titulo{
    font-family: "Roboto Slab";
}

.titulo-capitulo{
    text-align: center;
    font-size: 62px;
    text-transform: uppercase;
    font-family: "Roboto";
}

.titulo-capitulo > strong{
    font-family: "RobotoBlack";
}

strong{
    font-weight: bold;
}

.cabecalho-capitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cabecalho-capitulo .gold-font{
    font-family: "FonteGold";
    font-size: 1.8em;
    margin: 1em 0;
}

.cabecalho-capitulo p{
    width: 50%;
}

/*EXPEDIENTE*/

.expediente{
    background-image: url("../images/bgcapitulo.png");
    background-repeat:no-repeat;
    background-size: 100%;
    color: white;
    padding: 2.5em;
}

.expediente .gold-font {
    font-size: 2em;
    margin-bottom: .6em;
}

.criadoras{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.criadoras img{
    display: block;
    margin: 0 auto 2em auto;;
    border-radius: 100%;
    box-shadow: 8px 8px 50px 5px rgba(211,211,211, 0.3);
    
}

.criadoras p{
    display: block;
    font-family: Roboto Slab;
    font-size: .8em;
    text-align: center;
    width: 30%;
    margin: 0 auto 1.5em auto;
}
/*-------------------------*/

/* FOOTER */

footer{
    margin-top: 4em;
}   

footer div{
    width: 35%;
    margin: 0 auto 7em auto; 
    text-align: center;
}

footer div p{
    font-family:'Roboto Slab', sans-serif;
    font-size: 0.7em;
    line-height: 1.5;
    margin-bottom:2em;
}