@font-face{
    font-family: 'FonteGold';
    src: url('../font/GoldUnderTheMud-Regular.ttf');
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:120%;
}

/* BARRA DE NAVEGAÇÃO */

li{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    position: fixed;
    background-color: #111111;
    width: 100%;
}

.navegacao-site{
    list-style: none;
}

.navegacao-site li{
    display: inline-block;
    padding: 0px 20px;
    font-size: .7em;
}

.navegacao-site li a{
    transition:all 0.3s ease 0s;
    text-decoration: none;
    color: #fff;
}

.navegacao-site li a:hover{
    color:#B81A49;
}
/*------------------------*/

/* HEADER */

.flex-text-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-principal{
    margin-top: 100px;
}

.flex-text-header p{
    margin-top:50px;
    margin-bottom:10px;
    width:38%;
    text-align: center;
}

.flex-text-header p:nth-child(odd){
    font-size: 0.75em;
}

.arrow{
    margin:60px 0;
}
/*------------------------*/

/* MAIN */

main{
    width: 45%;
    margin: 0 auto;
    text-align: justify;
}

main p{
    line-height: 1.5;
    margin:2em 0;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 0.7em;
}

.increase-letters::first-letter{
    font-size: 200%;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    color: black;
}
.gold-font{
    font-family: 'FonteGold';
    color: #B81A49;
    text-align: center;
}

.prox-cap{
    font-size: 1.5em;
    margin:0;
}

.inicio-cap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.inicio-cap .gold-font{
    font-size:1.5em;
}

.inicio-cap h2{
    text-align: center;
    font-size: 62px;
    text-transform: uppercase;
    font-family: "Roboto Black";
}

.inicio-cap strong{
    overflow-wrap: break-word;
}


strong{
    font-weight: bold;
}
/*-------------------------*/

/* FOOTER */

footer div{
    width: 35%;
    margin: 4em auto; 
   text-align: center;
}

footer div p{
    font-family:'Roboto Slab', sans-serif;
    font-size: 0.7em;
    line-height: 1.5;
    margin-bottom:2em;
}