@font-face{
    font-family: 'FonteGold';
    src: url('../font/GoldUnderTheMud-Regular.ttf');
}

@font-face{
    font-family: 'RobotoBlack';
    src: url('../font/Roboto-Black.ttf');
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:120%;
}

.animacao{
    animation: fadein 2.5s;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../images/bgcapitulo.png");
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center center !important;
    height: 100%;
}
/*-----BARRA DE NAVEGAÇÃO-----*/

li{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.flex-nav {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    position: fixed;  
    width: 100%;
    z-index: 1000;
  }

  .flex-nav ul a{
    text-decoration: none;
  }

  .menu li {
    font-size: .7em;
    padding: 20px;
    cursor: pointer;
    color: white;
    border-top: #111111 solid 4px;
    transition: .6s ease;
    /* white-space: nowrap; */
  }

  .menu li:hover{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
  }

  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-direction: column;
  }
  .toggle {
    order: 1;
  }
  .iten.button {
    order: 2;
  }
  .iten {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .iten.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }

#insta{
    transition:all 0.3s ease 0s;
    cursor: pointer;
}
/*----HEADER----*/
    header{
        height: calc(100vh - 56px);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    header .elementos-flex{
        width: 50%;
    }
    
    .elementos-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .elementos-flex p{
        margin: 2rem 0;
    }

    .elementos-flex .gold-font{
        font-size:1.8em;
    }

    .titulo-capitulo{
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Roboto";
    }

    .segundo-parag-titulo{
        font-family: "Roboto Slab";
        width: 50%;
        line-height: 1.5;
    }
/*----MAIN----*/

a{
    text-decoration: none;
}

.resizing{
    font-family: "Roboto";
    font-weight:500;
    font-size: 1.2em;
}

.main{
    width: 31rem;
    margin: 0 auto;
    text-align: start;
}

.main p{
    line-height: 1.5;
    margin:2rem 0;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: .8em;
}

.increase-letters::first-letter{
    font-size: 200%;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    color: black;
    margin-right: 2px;
}

strong{
    font-weight: bold;
}

.prox-cap{
    font-size: 2em;
    margin:4rem 0;
}

.gold-font{
    font-family: 'FonteGold' !important;
    color: #B81A49;
    text-align: center;
}

/*-------CAP2 E CAP4------*/
.citacao1{
    font-size: 1.3em;
    font-family:"Roboto Slab";
    line-height: 1.2;
    position: relative;
}

.citacao1::before{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -29px;
    top: -10px;
}

.citacao1::after{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right: -30px;
    bottom: -18px;
} 
.video{
    width: 100%;
    margin: 2em 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    header{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    header .elementos-flex{
        width: 100%;
    }
    
    .elementos-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .elementos-flex p{
        margin: 2rem 0;
        font-size: 15px;
        width: 60%;
    }
    .elementos-flex img{
        width: 70%;
    }
  
    .resizing{
        font-family: "Roboto";
        font-weight:300;
        font-size: 1.2em;
    }
    
    .main{
        width: 22rem;
        margin: 0 auto;
        text-align: start;
    }
    
    .main p{
        line-height: 1.5;
        margin:2rem 0;
        font-family: "Roboto Slab", Arial, sans-serif;
        font-size: .8em;
    }
    
    .increase-letters::first-letter{
        font-size: 200%;
        text-shadow: 1px 1px 0 black;
        font-weight: bold;
        color: black;
        margin-right: 2px;
    }
    
    strong{
        font-weight: bold;
    }
    
    .prox-cap{
        font-size: 2em;
        margin:4rem 0;
    }
    
    .gold-font{
        font-family: 'FonteGold' !important;
        color: #B81A49;
        text-align: center;
    }
    iframe{
        width: 560px;
        height: 315px;
        align-content: center;
    }

}

@media only screen and (max-height: 580px) {
    header{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    header .elementos-flex{
        width: 100%;
        margin-top: -3em;
    }
    
    .elementos-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .elementos-flex p{
        margin: 1rem 0;
        font-size: 12px;
        width: 60%;
    }
    .elementos-flex img{
        width: 50%;
    }
}
@media only screen and (max-height: 460px) {
    .elementos-flex p{
        margin: 1rem 0;
        font-size: 10px;
        width: 70%;
    }
    .elementos-flex img{
        width: 40%;
    }
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (max-width: 550px) {
    iframe{
        width: 400px;
        height: 225px;
        align-content: center;
    }
}


@media only screen and (max-width: 440px) {
    .main p{
        line-height: 1.5;
        margin:2rem 0;
        font-family: "Roboto Slab", Arial, sans-serif;
        font-size: .8em;
    }
    .main{
        width: 13rem;
        margin: 0 auto;
        text-align: start;
    }
    iframe{
        width: 100%;
        height: 100%;
        align-content: center;
    }

}



  /* NavBar menu */
  @media all and (min-width: 906px) {
    .iten {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }

    .button {
        order: 2;
    }
    .menu{
        flex-direction: row;
    }
    .menu li {
        padding: 20px;
    }
    .menu li.button {
        padding-right: 0;
    }
}