@font-face{
    font-family: 'FonteGold';
    src: url('../font/GoldUnderTheMud-Regular.ttf');
}

@font-face{
    font-family: 'RobotoBlack';
    src: url('../font/Roboto-Black.ttf');
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size:120%;
}

.animacao{
    animation: fadein 2.5s;
}

@keyframes fadein{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

body{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../images/bgcapitulo.png");
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center top !important;
    height: 100%;
}
/*-----BARRA DE NAVEGAÇÃO-----*/

li{
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #111111;
    width: 100%;
    z-index: 9999;
    bottom:0 ;
}

.navegacao-site{
    list-style: none;
}

.navegacao-site li{
    display: inline-block;
    font-size: .7em;
    padding: 20px 20px;
    cursor: pointer;
    border-top: #111111 solid 4px;
    transition: .6s ease;
    margin-left: -5px;
}

.navegacao-site a{
    transition:all 0.3s ease 0s;
    text-decoration: none;
    color: #fff;
}

.navegacao-site li:hover{
    background-color: #242424;
    border-top: #B81A49 solid 4px;
}

#insta{
    transition:all 0.3s ease 0s;
    cursor: pointer;
}
/*----HEADER----*/
    header{
        height: calc(100vh - 56px);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    header .elementos-flex{
        width: 50%;
    }
    
    .elementos-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .elementos-flex p{
        margin: 2rem 0;
    }

    .elementos-flex .gold-font{
        font-size:1.8em;
    }

    .titulo-capitulo{
        font-size: 3rem;
        text-transform: uppercase;
        font-family: "Roboto";
    }

    .segundo-parag-titulo{
        font-family: "Roboto Slab";
        width: 50%;
        line-height: 1.5;
    }
/*----MAIN----*/

a{
    text-decoration: none;
}

.resizing{
    font-family: "Roboto";
    font-weight:500;
    font-size: 1.2em;
}

.main{
    width: 31rem;
    margin: 0 auto;
    text-align: start;
}

.main p{
    line-height: 1.5;
    margin:2rem 0;
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: .8em;
}

.increase-letters::first-letter{
    font-size: 200%;
    text-shadow: 1px 1px 0 black;
    font-weight: bold;
    color: black;
    margin-right: 2px;
}

strong{
    font-weight: bold;
}

.prox-cap{
    font-size: 2em;
    margin:4rem 0;
}

.gold-font{
    font-family: 'FonteGold' !important;
    color: #B81A49;
    text-align: center;
}

/*-------CAP2 E CAP4------*/
.citacao1{
    font-size: 1.3em;
    font-family:"Roboto Slab";
    line-height: 1.2;
    position: relative;
}

.citacao1::before{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    left: -29px;
    top: -10px;
}

.citacao1::after{
    content: '"';
    font-family: "Roboto Slab";
    font-size: 2em;
    color: #B81A49;
    position: absolute;
    right: -30px;
    bottom: -18px;
} 
.video{
    width: 100%;
    margin: 2em 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/*  #Mobile (Portrait) - Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    header{
        background-size: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    header .elementos-flex{
        width: 100%;
    }
    
    .elementos-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .elementos-flex p{
        margin: 2rem 0;
        font-size: 15px;
    }
    .elementos-flex img{
        width: 70%;
        padding-top: 1em;
    }
  
    .resizing{
        font-family: "Roboto";
        font-weight:300;
        font-size: 1.2em;
    }
    
    .main{
        width: 13rem;
        margin: 0 auto;
        text-align: start;
    }
    
    .main p{
        line-height: 1.5;
        margin:2rem 0;
        font-family: "Roboto Slab", Arial, sans-serif;
        font-size: .8em;
    }
    
    .increase-letters::first-letter{
        font-size: 200%;
        text-shadow: 1px 1px 0 black;
        font-weight: bold;
        color: black;
        margin-right: 2px;
    }
    
    strong{
        font-weight: bold;
    }
    
    .prox-cap{
        font-size: 2em;
        margin:4rem 0;
    }
    
    .gold-font{
        font-family: 'FonteGold' !important;
        color: #B81A49;
        text-align: center;
    }
    iframe{
        width: 100%;
        height: 100%;
        align-content: center;
    }

}


/* #Mobile (Landscape) - Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {


}



@media only screen and (max-width: 736px) and (max-height: 414px) {
    
}