.parag-intro-header{
    margin-top:35px;
    margin-bottom:10px;
    width:38%;
    text-align: center;
    font-family: "Roboto";
}

.parag-intro-header:nth-child(odd){
    font-size: 0.75em;
    margin: 0;
}

header .elementos-flex{
    width: auto;
}

.transicao{
    margin: 2rem;
}

.transicao .elementos-flex p{
    width: 100%;
    font-family: 'Roboto';
}